Repository mayadata-io/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run './scripts/rust/linter.sh clippy'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run './scripts/rust/linter.sh fmt'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | grep -v '^#' | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

chore(bors): merge pull request #903
  .pre-commit-config.yaml
  Jenkinsfile
  control-plane/csi-driver/src/bin/node/client.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/node.rs
  deployer/src/infra/csi-driver/node.rs
  deployer/src/lib.rs
  scripts/rust/linter.sh
  tests/bdd/common/deployer.py
  tests/bdd/features/csi/node/node.feature
  tests/bdd/features/csi/node/test_node.py
Due: rust-lint, rust-style, python-check

feat(csi-driver): add pre-publish hook to cleanup stale entries
  control-plane/csi-driver/proto/node-service.proto
  control-plane/csi-driver/src/bin/controller/config.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/findmnt.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_grpc.rs
  control-plane/csi-driver/src/bin/node/shutdown_event.rs
  deployer/src/infra/csi-driver/controller.rs
Due: rust-lint, rust-style

fix(csi/controller): don't return error on host mismatch
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

build(csi-driver): enable net feature on tokio-stream
  Cargo.lock
  control-plane/csi-driver/Cargo.toml
Due: none

feat(csi-driver): use tokio_stream unixlistenerstream
  control-plane/csi-driver/src/bin/controller/server.rs
  control-plane/csi-driver/src/bin/node/main_.rs
Due: rust-lint, rust-style

fix(topology): use topology when decreasing replicas
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
Due: rust-lint, rust-style

fix(ha-node): use transport info from nvme connect response
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/csi-driver/src/bin/node/dev.rs
  control-plane/csi-driver/src/bin/node/dev/iscsi.rs
  control-plane/csi-driver/src/bin/node/dev/nbd.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_nvme.rs
  control-plane/grpc/proto/v1/ha/csi_node_nvme.proto
Due: rust-lint, rust-style

ci: switch from jenkins to github actions
  .github/auto_assign.yml
  .github/bors.toml
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/nightly-ci.yml
  .github/workflows/pr-ci.yml
  .github/workflows/unit-int.yml
  .gitignore
  control-plane/agents/src/bin/core/tests/controller/mod.rs
  scripts/python/test.sh
  shell.nix
  tests/bdd/common/deployer.py
  tests/bdd/common/docker.py
  tests/bdd/features/cordon/node/test_cordon-node.py
  tests/bdd/features/health-probes/readiness-probe.feature
  tests/bdd/features/health-probes/test_readiness-probe.py
  tests/bdd/features/snapshot/garbage-collection/__init__.py
  tests/bdd/features/snapshot/garbage-collection/garbage-collection.feature
  tests/bdd/features/snapshot/garbage-collection/test_garbage-collection.py
  tests/bdd/features/volume-group/create/create.feature
  tests/bdd/features/volume-group/create/test_create.py
  tests/bdd/features/volume-group/publish/feature.feature
  tests/bdd/features/volume-group/publish/test_publish.py
  tests/bdd/features/volume-group/set-replica/feature.feature
  tests/bdd/features/volume-group/set-replica/test_set-replica.py
  tests/bdd/features/volume/topology/test_node-topology.py
  tests/bdd/features/volume/topology/test_pool-topology.py
Due: rust-lint, rust-style, python-check

refactor(csi-driver): use tokio process command for findmnt and add path prefix
  control-plane/csi-driver/src/bin/node/block_vol.rs
  control-plane/csi-driver/src/bin/node/filesystem_ops.rs
  control-plane/csi-driver/src/bin/node/findmnt.rs
  control-plane/csi-driver/src/bin/node/fsfreeze/bin/mod.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_grpc.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_svc.rs
Due: rust-lint, rust-style

test: add pool create test rpc
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(plugin/block-devices): don't panic on unmanaged pools
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/blockdevice.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/tests.rs
  utils/deployer-cluster/src/lib.rs
  utils/deployer-cluster/src/rest_client.rs
Due: rust-lint, rust-style

ci: remove Jenkinsfile
  Jenkinsfile
Due: none

refactor(plugin): add tracing method taking jaeger arg
  control-plane/plugin/src/lib.rs
Due: rust-lint, rust-style

docs(security): cross-reference security docs
  SECURITY.md
  SECURITY_CONTACTS.md
Due: none

docs: cross-reference maintainers markdown
  MAINTAINERS
  MAINTAINERS.md
Due: none

fix(csi/node): patch ana label with merge
  control-plane/csi-driver/src/bin/node/k8s.rs
Due: rust-lint, rust-style

test: cleanup loop devices properly
  scripts/rust/deployer-cleanup.sh
Due: none

fix(csi/controller): disable orphan vol garbage collector
  control-plane/csi-driver/src/bin/controller/main.rs
Due: rust-lint, rust-style

fix(volume_reconciler): changes in replica disown logic
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
Due: rust-lint, rust-style

test(dmsetup): ensure lvm device suspended
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  .gitignore
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  scripts/ci-report.sh
  scripts/python/test.sh
  scripts/rust/deployer-cleanup.sh
  utils/deployer-cluster/src/lvm.rs
Due: rust-lint, rust-style

test: test
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

ci(gha): upload test report
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  .gitignore
  scripts/ci-report.sh
  scripts/python/test.sh
Due: none

test(dmsetup): ensure lvm device suspended
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  scripts/rust/deployer-cleanup.sh
  utils/deployer-cluster/src/lvm.rs
Due: rust-lint, rust-style

ci: don't run build_all
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

docs: remove openssf badge
  README.md
Due: none

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

security(GHSA-h97m-ww89-6jmq): update url and idna crate
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/csi-driver/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/stor-port/Cargo.toml
  k8s/proxy/Cargo.toml
  utils/pstor/Cargo.toml
  utils/utils-lib/Cargo.toml
Due: none

security(GHSA-rpmj-rpgj-qmpm): update openssl crate
  Cargo.lock
Due: none

configuring diskpool operator to speak tls
  control-plane/csi-driver/src/bin/controller/client.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

debugging rest api and cert configuration
  control-plane/rest/service/src/main.rs
Due: rust-lint, rust-style

configuring csi-controller to speak tls
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/config.rs
  control-plane/csi-driver/src/bin/controller/main.rs
Due: rust-lint, rust-style

tidying up
  control-plane/rest/service/src/main.rs
Due: rust-lint, rust-style
